<h1 class="mb-4">Quản lý người dùng</h1>

<!-- search & add btn -->
<div class="d-flex gap-2 mb-3">
  <button nz-button nzType="primary" (click)="showModal()">
    <i class="bi bi-plus-circle me-2"></i> <span> Thêm người dùng </span>
  </button>
  <form (ngSubmit)="onSearch()" autocomplete="off" style="min-width: 500px">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Nhập userName, tên người dùng, hoặc email"
        [(ngModel)]="prm.searchTerm"
        name="searchTerm"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </form>
</div>

<!-- table genre -->
<div class="table-responsive-custom">
  <nz-table
    [nzData]="users"
    nzTableLayout="auto"
    [nzFrontPagination]="false"
    [nzBordered]="true"
  >
    <thead>
      <tr>
        <th style="width: 110px">Ảnh</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('userName')">
          User Name
        </th>
        <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('fullName')">
          Full Name
        </th>
        <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('email')">
          Email
        </th>
        <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('created')">
          Ngày tạo
        </th>
        <th>Quyền</th>
        <th style="width: 10%">Trạng thái</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.userName) {
      <tr>
        <td class="image-column">
          <img
            class="img-table"
            nz-image
            nzSrc="{{ user.imgUrl }}"
            alt="{{ user.userName }}"
          />
        </td>
        <td>{{ user.userName }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ utilService.getFormattedDate(user.created) }}</td>
        <td>{{ user.role }}</td>
        <td class="fw-bold text-center">
          @if(user.isLoocked) {
          <nz-tag [nzColor]="utilService.PRIVATE_STATUS_COLOR">
            Đang bị khóa
          </nz-tag>
          } @else {
          <nz-tag [nzColor]="utilService.PUBLIC_STATUS_COLOR">
            Đang hoạt động
          </nz-tag>
          }
        </td>
        <td>
          <div class="d-flex gap-2 justify-content-center align-items-center">
            <button
              class="btn btn-sm fs-6"
              (click)="openUpdateModal(user.userName)"
            >
              <i class="bi bi-pencil-square"></i>
            </button>

            <button
              class="btn btn-sm fs-6"
              (click)="showDeleteConfirm(user.userName)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>

<!-- pagination -->
<div class="d-flex align-items-center justify-content-center mt-3">
  <nz-pagination
    [nzPageIndex]="pagination.currentPage"
    [nzTotal]="pagination.totalItems"
    [nzSize]="'default'"
    [nzPageSize]="pagination.itemsPerPage"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzShowTotal]="totalTemplate"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
    [nzPageSizeOptions]="[3, 5, 10, 20, 50]"
  ></nz-pagination>
  <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
</div>

<!-- modal create & edit -->
<nz-modal
  [(nzVisible)]="isVisibleModal"
  nzTitle="Thêm người dùng"
  [nzFooter]="null"
  (nzOnCancel)="closeModal()"
>
  <form
    [formGroup]="frm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    *nzModalContent
  >
    <div
      class="d-flex flex-column gap-2 align-items-center justify-content-center mb-3"
    >
      @if(previewImage) {
      <img
        [src]="previewImage"
        alt="Image Preview"
        style="
          max-width: 110px;
          margin-top: 10px;
          object-fit: cover;
          border-radius: 50%;
        "
      />
      } @else {
      <img
        src="https://res.cloudinary.com/dh1zsowbp/image/upload/v1735543269/user_pez7rf.webp"
        alt="Image Preview"
        style="
          max-width: 110px;
          margin-top: 10px;
          object-fit: cover;
          border-radius: 50%;
        "
      />
      }

      <nz-upload
        [nzBeforeUpload]="beforeUpload"
        nzMultiple="false"
        [nzShowUploadList]="false"
      >
        <button nz-button type="button">
          <i nz-icon nzType="upload"></i>
          Upload ảnh người dùng
        </button>
      </nz-upload>
      <!-- input img -->
      <input type="hidden" formControlName="imgFile" />

      @if(frm.get('imgFile')?.errors && frm.get('imgFile')?.touched) {
      <span class="text-danger">Vui lòng upload ảnh người dùng</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="userName">UserName</label>
      <input
        id="userName"
        nz-input
        placeholder="Nhập UserName"
        type="text"
        formControlName="userName"
      />
      @if(frm.get('userName')?.errors && frm.get('userName')?.touched) {
      <span class="text-danger">Vui lòng nhập UserName</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="fullName">Full Name</label>
      <input
        id="fullName"
        nz-input
        placeholder="Nhập FullName"
        type="text"
        formControlName="fullName"
      />
      @if(frm.get('fullName')?.errors && frm.get('fullName')?.touched) {
      <span class="text-danger">Vui lòng nhập FullName</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input
        id="email"
        nz-input
        placeholder="Nhập Email"
        type="text"
        formControlName="email"
      />
      @if(frm.get('email')?.errors && frm.get('email')?.touched) {
      <span class="text-danger">Vui lòng nhập Email</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="password">Mật khẩu</label>
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          id="password"
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="Nhập mật khẩu của người dùng"
          formControlName="password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <span
          nz-icon
          class="ant-input-password-icon"
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></span>
      </ng-template>
      @if(frm.get('password')?.errors && frm.get('password')?.touched) {
      <span class="text-danger">Vui lòng nhập mật khẩu</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="gender">Giới tính</label>
      <nz-select formControlName="gender" id="gender">
        <nz-option
          *ngFor="let gender of genderList"
          [nzValue]="gender.value"
          [nzLabel]="gender.dislay"
        >
        </nz-option>
      </nz-select>
      @if(frm.get('gender')?.errors && frm.get('gender')?.touched) {
      <span class="text-danger">Vui lòng chọn giới tính</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="role">Quyền</label>
      <nz-select formControlName="role" id="role">
        <nz-option
          *ngFor="let role of roles"
          [nzValue]="role.name"
          [nzLabel]="role.name"
        >
        </nz-option>
      </nz-select>
      @if(frm.get('role')?.errors && frm.get('role')?.touched) {
      <span class="text-danger">Vui lòng chọn quyền</span>
      }
    </div>

    <div
      *ngIf="validationErrors && validationErrors.length > 0"
      class="mx-auto mb-3 bg-danger text-white rounded"
    >
      <ul class="list-unstyled p-3">
        <li *ngFor="let error of validationErrors; let i = index" class="mb-2">
          {{ error }}
        </li>
      </ul>
    </div>

    <hr class="my-3" />

    <div class="d-flex gap-2 justify-content-end align-items-center">
      <button nz-button nzType="default" type="button" (click)="closeModal()">
        Đóng
      </button>
      <button nz-button nzType="primary" type="submit" [disabled]="frm.invalid">
        Lưu
      </button>
    </div>
  </form>
</nz-modal>

<!-- edit form -->
<app-update-user
  #updateUserComponent
  (userUpdated)="updateUser($event)"
></app-update-user>
