/* Xóa bóng bên trái table */
/* Delete shabow right in table */
.ant-table-content {
  box-shadow: none !important;
}

/* Style cho ô trong table có nội dung dài */
/* Style for table cells with long content */
.fixed-height-box {
  height: 100px;
  max-height: 100px;
  overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung quá dài */
  white-space: pre-wrap; /* Bảo toàn định dạng xuống dòng trong văn bản */
  text-overflow: ellipsis;
  text-indent: -0.5ch;
  scrollbar-width: none; /* Ẩn thanh cuộn trong Firefox */
}

.fixed-height-box::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trong Chrome, Edge và Safari */
}

/* For larger screens, let the table take full width without scroll */
.table-responsive-custom {
  overflow-x: auto;
  width: 100%;
}

/* For smaller screens, limit the table's width to enable horizontal scrolling */
@media (max-width: 768px) {
  .table-responsive-custom {
    overflow-x: auto;
    white-space: nowrap;
  }
}

/* set color success when upload file with ng-zorro */
.ant-upload-list-item-error,
.ant-upload-list-item-error .ant-upload-list-item-card-actions .anticon,
.ant-upload-list-item-error .ant-upload-list-item-name,
.ant-upload-list-item-error .ant-upload-text-icon > .anticon {
  color: #75a8ff !important;
}

.img-table {
  width: 105px;
  height: 105px;
  object-fit: cover;
  cursor: pointer;
}

.img-table-mini {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.image-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.singer-link, .song-text {
  color: #000;
  text-decoration: none;
}
