@if(singer !== undefined) {
<div class="d-flex flex-column flex-md-row gap-5">
  <!-- img song -->
  <div class="img-container flex-shrink-0">
    <img
      nz-image
      class="song-img img-fluid"
      nzSrc="{{ singer.imgUrl }}"
      alt="{{ singer.name }}"
    />
  </div>

  <!-- info singer -->
  <div class="d-flex flex-column gap-2">
    <h2 class="p-0 mb-3 d-flex gap-2 align-items-center">
      {{ singer.name }}
    </h2>
    <div>
      <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="4">
        {{ singer.introduction }}
      </p>
    </div>
    <div class="d-flex gap-3 align-items-center mt-2">
      <button
        (click)="playList(singer.songList)"
        nz-button
        nzType="primary"
        nzSize="large"
        class="d-flex justify-content-center align-items-center gap-1"
      >
        <i class="bi bi-play-fill" style="font-size: 20px"></i>
        <span>Phát tất cả</span>
      </button>
      <button
        *ngIf="isLiked === false"
        (click)="likeSinger(singerId)"
        nz-button
        nzType="default"
        nzSize="large"
        class="d-flex justify-content-center align-items-center"
      >
        <span nz-icon nzType="heart" nzTheme="outline"></span>
        <span>Thích</span>
      </button>
      <button
        *ngIf="isLiked === true"
        (click)="unLikeSinger(singerId)"
        nz-button
        nzType="default"
        nzSize="large"
        class="d-flex justify-content-center align-items-center"
      >
        <span
          nz-icon
          nzType="heart"
          nzTheme="fill"
          style="color: #f06868"
        ></span>
        <span>Bỏ thích</span>
      </button>
      <button
        nz-button
        nzType="default"
        nzSize="large"
        class="d-flex justify-content-center align-items-center"
      >
        <span nz-icon nzType="comment" nzTheme="outline"></span>
        <span>Bình luận</span>
      </button>
    </div>
  </div>
</div>

<div class="mt-5">
  <nz-table
    #nzTable
    [nzData]="singer.songList"
    nzTableLayout="fixed"
    [nzFrontPagination]="false"
  >
    <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th nzWidth="100px">Ảnh bìa</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name')">
          Bài hát
        </th>
        <th>Ca sĩ</th>
        <th nzWidth="120px">Thời gian</th>
        <th nzWidth="150px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of nzTable.data; let index = index">
        <audio
          controls
          hidden
          (loadedmetadata)="onMetadataLoaded($event, song.id)"
        >
          <source [src]="song.songUrl" type="audio/mp3" />
          Your browser does not support the audio element.
        </audio>
        <td>{{ index + 1 }}</td>
        <td class="image-column">
          <img
            nz-image
            [nzSrc]="song.imgUrl"
            [alt]="song.name"
            class="img-table-mini"
          />
        </td>
        <td>
          <div class="d-flex gap-2 align-items-center">
            <a class="song-text" (click)="goSongDetail(song.id)">
              {{ song.name }}
            </a>
            @if(song.isVip) {
            <img src="img/vip-badge.png" alt="vip-badge" />
            }
          </div>
        </td>
        <td>
          <div *ngIf="song.singers.length > 0">
            <ng-container *ngFor="let singer of song.singers; let i = index">
              <a class="singer-link" (click)="goSingerDetail(singer)">{{
                singer.name
              }}</a>
              <span *ngIf="i < song.singers.length - 1">, </span>
            </ng-container>
          </div>
        </td>
        <td>
          <span *ngIf="audioDurations[song.id]">
            {{ audioDurations[song.id] }}
          </span>
          <span *ngIf="!audioDurations[song.id]">Loading...</span>
        </td>
        <td>
          <div
            class="container-btn d-flex gap-2 justify-content-center align-items-center"
          >
            <button class="btn-icon" (click)="playSong(song)">
              <i class="bi bi-play"></i>
            </button>
            <button class="btn-icon">
              <i class="bi bi-plus-lg"></i>
            </button>
            <button class="btn-icon">
              <span nz-icon nzType="heart" nzTheme="outline"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="d-flex align-items-center justify-content-center mt-3">
    <nz-pagination
      [nzPageIndex]="pagination.currentPage"
      [nzTotal]="pagination.totalItems"
      [nzSize]="'default'"
      [nzPageSize]="pagination.itemsPerPage"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      [nzShowTotal]="totalTemplate"
      [nzShowSizeChanger]="true"
      [nzShowQuickJumper]="true"
      [nzPageSizeOptions]="[3, 5, 10, 20, 50]"
    ></nz-pagination>
    <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
  </div>
</div>
}
