.img-container {
  width: 250px;
  height: 250px;
}

.playlist-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

::ng-deep .ant-card {
  border: none;
}

::ng-deep .ant-card {
  transition: none !important; /* Xóa hiệu ứng chuyển động */
}

::ng-deep .ant-card:hover {
  box-shadow: none !important; /* Xóa bóng khi hover */
  transform: none !important; /* Xóa hiệu ứng scale hoặc dịch chuyển */
  border-color: inherit !important; /* Xóa thay đổi viền nếu có */
}

::ng-deep .ant-card-body {
  padding: 0 !important;
  margin-top: 8px;
}
