<div class="bg">
  <h1 class="login-title">Đăng nhập / K-music</h1>
  <div class="login-box">
    <form>
      <div class="mb-3">
        <input nz-input placeholder="Enter user name or email" type="text" />
      </div>
      <div class="mb-3">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter your password"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            class="ant-input-password-icon"
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </div>
      <div class="mb-3 d-flex">
        <label
          nz-checkbox
          [(ngModel)]="checked"
          name="checkboxName"
          class="me-auto"
          >Remember me</label
        >
        <a class="link" href="#">Quên mật khẩu</a>
      </div>
      <div class="d-flex gap-3">
        <button nz-button nzType="default" nzvalue="large">Đăng ký</button>

        <button nz-button nzType="primary" nzvalue="large">Đăng nhập</button>
      </div>
    </form>
    <nz-divider nzText="Hoặc"></nz-divider>
    <div class="d-flex gap-3 justify-content-center align-items-center">
      <button
        nz-button
        nzType="primary"
        class="btn-log-gg d-flex gap-2 justify-content-center align-items-center"
        nzvalue="large"
      >
        <i class="bi bi-google"></i>
        <span>Google</span>
      </button>

      <button
        nz-button
        nzType="primary"
        class="d-flex gap-2 justify-content-center align-items-center"
        nzvalue="large"
      >
        <i class="bi bi-facebook"></i>
        <span>Facebook</span>
      </button>
    </div>
  </div>
</div>
