<div class="bg">
  <h1 class="login-title">Đăng nhập / K-music</h1>
  <div class="login-box">
    <form [formGroup]="frm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3">
        <input
          nz-input
          placeholder="Enter user name or email"
          type="text"
          formControlName="userName"
        />
      </div>
      <div class="mb-2">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter your password"
            formControlName="password"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            class="ant-input-password-icon"
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </div>

      <div class="d-flex mb-3">
        <a class="link" routerLink="/forgot-password">Quên mật khẩu</a>
        <a class="link ms-auto" routerLink="/register">Đăng ký tài khoản mới</a>
      </div>

      <button nz-button nzType="primary" nzvalue="large">Đăng nhập</button>
    </form>
    <nz-divider nzText="Hoặc"></nz-divider>
    <div id="google-btn"></div>
  </div>
</div>
