.ctn-pack {
  min-height: 100vh;
  margin: -50px;
  object-fit: cover;
  background-image: url("/img/bg-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.long-text {
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

::ng-deep .ant-row {
  justify-content: center;
}
