<div class="d-flex align-items-center"></div>
<nz-layout>
  <nz-header>
    <a routerLink="/" class="logo">
      <img
        src="img/logo-no-background.png"
        alt="k music logo"
        width="150"
        height="auto"
      />
    </a>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li routerLink="/" routerLinkActive="active" nz-menu-item>Trang chủ</li>
      <li routerLink="/song" routerLinkActive="active" nz-menu-item>Bài hát</li>
      <li nz-menu-item>Ca sĩ</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content my-5">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
