@if(playlist !== undefined) {
<div class="d-flex flex-column flex-md-row gap-5">
  <!-- img song -->
  <div class="img-container flex-shrink-0">
    <img
      nz-image
      class="song-img img-fluid"
      nzSrc="{{ playlist.imgUrl }}"
      alt="{{ playlist.name }}"
    />
  </div>

  <!-- info song -->
  <div class="d-flex flex-column gap-2">
    <h2 class="p-0 mb-3 d-flex gap-2 align-items-center">
      {{ playlist.name }}
    </h2>
    <div><strong>Người tạo:</strong> {{ playlist.userName }}</div>
    <div><strong>Số lượt phát:</strong> {{ playlist.playCount }}</div>
    <div>
      <strong>Ngày tạo:</strong>
      {{ utilService.getFormattedDate(playlist.created) }}
    </div>
    <div>
      <strong>Lần cập nhật gần nhất:</strong>
      {{ utilService.getFormattedDate(playlist.updated) }}
    </div>
    <div class="d-flex gap-3 align-items-center mt-2">
      <button nz-button nzType="primary" nzSize="large">
        <i class="bi bi-plus-circle me-2"></i> <span>Play</span>
      </button>
    </div>
  </div>
</div>

<div class="mt-5">
  <nz-table #nzTable [nzData]="playlist.songList" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th nzWidth="100px">Ảnh bìa</th>
        <th>Bài hát</th>
        <th>Ca sĩ</th>
        <th nzWidth="120px">Thời gian</th>
        <th nzWidth="120px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of nzTable.data; let index = index">
        <audio
          controls
          hidden
          (loadedmetadata)="onMetadataLoaded($event, song.id)"
        >
          <source [src]="song.songUrl" type="audio/mp3" />
          Your browser does not support the audio element.
        </audio>
        <td>{{ index + 1 }}</td>
        <td class="image-column">
          <img
            nz-image
            [nzSrc]="song.imgUrl"
            [alt]="song.name"
            class="img-table-mini"
          />
        </td>
        <td></td>
        <td>{{ utilService.getSingersString(song) }}</td>
        <td>
          <span *ngIf="audioDurations[song.id]">
            {{ audioDurations[song.id] }}
          </span>
          <span *ngIf="!audioDurations[song.id]">Loading...</span>
        </td>
        <td>
          <button class="btn btn-sm fs-6">
            <div class="d-flex">
              <span>{{ song.name }}</span>
              <div
                class="container-btn d-flex gap-2 justify-content-center align-items-center"
              >
                <button>
                  <i class="bi bi-play"></i>
                </button>
                <button>
                  <i class="bi bi-plus-circle"></i>
                </button>
              </div>
              <button>
                <span nz-icon nzType="heart" nzTheme="outline"></span>
              </button>
            </div>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
}
