.bg {
  background-image: url("/img/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.login-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Đảm bảo kích thước cố định */
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Khoảng cách giữa các phần tử */
}

.mb-3 {
  display: flex;
  flex-direction: column;
  position: relative; /* Đảm bảo vị trí của các thành phần ổn định */
  margin-bottom: 0.5rem !important;
}

input[nz-input],
nz-select {
  width: 100%;
}

.text-danger {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: -18px; /* Hiển thị ngay bên dưới input */
  left: 0;
  visibility: hidden; /* Không hiển thị khi không có lỗi */
}

.text-danger.show {
  visibility: visible; /* Hiển thị khi có lỗi */
}
