<div class="d-flex" style="max-height: 64px">
  <div>
    <a routerLink="/" class="logo">
      <img
        src="img/logo-no-background.png"
        alt="k music logo"
        width="150"
        height="auto"
      />
    </a>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="horizontal"
      style="display: inline-block"
    >
      <li routerLink="/" routerLinkActive="active" nz-menu-item>Trang chủ</li>
      <li routerLink="/song" routerLinkActive="active" nz-menu-item>Bài hát</li>
      <li routerLink="/singer" routerLinkActive="active" nz-menu-item>Ca sĩ</li>
      <li routerLink="/vip-package" routerLinkActive="active" nz-menu-item>
        Hội viên
      </li>
      <li
        style="
          max-width: 400px;
          display: inline-block !important;
          width: 300px;
          margin-left: 60px;
        "
      >
        <nz-input-group [nzPrefix]="iconSearch">
          <input
            type="text"
            nz-input
            [(ngModel)]="search"
            (keydown.enter)="emitSearch()"
            placeholder="Tìm kiếm bài hát, ca sĩ, danh sách phát"
          />
        </nz-input-group>
        <ng-template #iconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </li>
    </ul>
  </div>
  <div
    *ngIf="!authService.currentUser()"
    class="ms-auto d-flex align-items-center gap-3"
  >
    <a routerLink="/login" class="text-link">Đăng nhập</a>
    <a routerLink="/register" class="text-link">Đăng ký</a>
  </div>
  <div *ngIf="authService.currentUser()" class="ms-auto">
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="text-link">
      <img
        style="width: 40px; height: 40px; object-fit: cover"
        src="{{ authService.currentUser()?.imgUrl }}"
        alt="{{ authService.currentUser()?.userName }}"
      />
      {{ authService.currentUser()?.fullName }}
      <span nz-icon nzType="down"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li routerLink="profile" nz-menu-item>Âm nhạc của tôi</li>
        <li
          *ngIf="authService.hasClaim('Access_Admin')"
          routerLink="/admin"
          nz-menu-item
        >
          Admin
        </li>
        <li nz-menu-divider></li>
        <li class="fw-bold" (click)="logout()" nz-menu-item>Đăng xuất</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
