<div class="container mt-5 p-4 bg-light rounded shadow">
  <h1 class="h2 font-weight-semibold mb-4">Internal server error</h1>
  @if (error) {
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold mb-2">
    This error comes from the server, not Angular
  </p>
  <p class="mb-2">What to do next?</p>
  <ol class="list-unstyled mb-4">
    <li class="mb-1">Check the network tab in Chrome Dev Tools</li>
    <li class="mb-1">
      Reproduce the error in Postman. If the same error occurs, don't waste time
      troubleshooting Angular code
    </li>
  </ol>
  <h5 class="h5 font-weight-semibold mb-2">Stack trace</h5>
  <div class="card p-4 bg-white">
    <code class="d-block" style="white-space: pre-wrap">{{
      error.details
    }}</code>
  </div>
  }
</div>
