<div class="music-player">
  <div class="music-player__info">
    <div class="img-container">
      <img
        style="cursor: pointer"
        (click)="goSongDetail(currentSong()?.id ?? 0)"
        [src]="currentSong()?.imgUrl ?? songImageDefault"
        alt="{{ currentSong()?.name }}"
      />
    </div>
    <div class="info-container">
      <a class="song-text" (click)="goSongDetail(currentSong()?.id ?? 0)">
        {{ currentSong()?.name ?? songNameDefault }}
      </a>
      @if(currentSong()?.singers) {
      <strong>
        <div *ngIf="singers.length > 0">
          <ng-container *ngFor="let singer of singers; let i = index">
            <a class="singer-link" (click)="goSingerDetail(singer)">{{
              singer.name
            }}</a>
            <span *ngIf="i < singers.length - 1">, </span>
          </ng-container>
        </div>
      </strong>
      } @else {
      <strong>
        {{ songSingerDefault }}
      </strong>
      }
    </div>
  </div>
  <div class="music-player__controller">
    <div class="control-btn">
      <div class="repeat-btn" (click)="toggleRepeat()">
        <i *ngIf="repeatEnable() === false" class="bi bi-repeat icon-20"></i>
        <i *ngIf="repeatEnable() === true" class="bi bi-repeat-1 icon-20"></i>
      </div>
      <div class="prev-btn" (click)="prevSong()">
        <i class="bi bi-skip-start-fill icon-24"></i>
      </div>
      <button class="play-btn" (click)="togglePlay()">
        <i *ngIf="!isPlaying()" class="bi bi-play-circle-fill icon-30"></i>
        <i *ngIf="isPlaying()" class="bi bi-pause-circle-fill icon-30"></i>
      </button>

      <div class="next-btn" (click)="nextSong()">
        <i class="bi bi-skip-end-fill icon-24"></i>
      </div>
      <div class="shuffle-btn" (click)="toggleShuffle()">
        <i *ngIf="shuffleEnable() === false" class="bi bi-shuffle icon-20"></i>
        <i
          *ngIf="shuffleEnable() === true"
          class="bi bi-shuffle icon-20"
          style="color: #3fa9ff"
        ></i>
      </div>
    </div>
    <div class="progress-container">
      <span id="current-time">0:00</span>
      <div class="progress-bar">
        <input
          #timeline
          type="range"
          class="timeline"
          max="100"
          value="0"
          step="0.1"
          class="timeline"
        />
      </div>
      <div class="progress-button"></div>
      <span id="total-time">0:00</span>
    </div>
  </div>
  <div class="music-player__other" id="volume-control">
    <button class="sound-btn" (click)="toggleSound()">
      <i *ngIf="!isMute" class="bi bi-volume-up-fill icon-24"></i>
      <i *ngIf="isMute" class="bi bi-volume-mute-fill icon-24"></i>
    </button>
    <div class="volume-slider">
      <input
        #volumeRange
        type="range"
        class="volume-range"
        min="0"
        max="1"
        step="0.1"
        value="1"
      />
    </div>

    <button type="button" class="download-btn">
      <span
        nz-icon
        nzType="download"
        nzTheme="outline"
        class="icon-24"
        (click)="download()"
      ></span>
    </button>
  </div>
</div>
<audio
  id="audio_player"
  #audioPlayer
  controls
  (loadedmetadata)="onMetadataLoaded($event)"
  hidden
></audio>
