<a routerLink="/" class="logo d-flex justify-content-center align-items-center">
  <img
    src="img/logo-no-background.png"
    alt="k music logo"
    width="150"
    height="auto"
  />
</a>
<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nz-menu-item>
    <a routerLink="/admin">
      <span class="menu-icon">
        <i class="bi bi-bar-chart-line-fill"></i>
      </span>
      <span>Dashboard</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="song">
      <span class="menu-icon">
        <i class="bi bi-music-note"></i>
      </span>
      <span>Quản lý bài hát</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="genre">
      <span class="menu-icon">
        <i class="bi bi-tag-fill"></i>
      </span>
      <span>Quản lý thể loại</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="singer">
      <span class="menu-icon">
        <i class="bi bi-mic-fill"></i>
      </span>
      <span>Quản lý ca sĩ</span>
    </a>
  </li>

  <li nz-menu-item>
    <a routerLink="playlist">
      <span class="menu-icon">
        <i class="bi bi-music-note-list"></i>
      </span>
      <span>Quản lý danh sách phát</span>
    </a>
  </li>

  <li nz-menu-item>
    <a routerLink="vip-package">
      <span class="menu-icon">
        <i class="bi bi-rocket-takeoff-fill"></i>
      </span>
      <span>Quản lý gói đăng ký</span>
    </a>
  </li>

  <li nz-menu-item>
    <a routerLink="transaction">
      <span class="menu-icon">
        <i class="bi bi-handbag-fill"></i>
      </span>
      <span>Quản lý mua hàng</span>
    </a>
  </li>

  <li nz-menu-item>
    <span class="menu-icon">
      <i class="bi bi-person-fill"></i>
    </span>
    <span>Quản lý user</span>
  </li>
  <li nz-menu-item>
    <a routerLink="role">
      <span class="menu-icon">
        <i class="bi bi-key-fill"></i>
      </span>
      <span>Quản lý quyền</span>
    </a>
  </li>
</ul>
