.logo {
    height: 1rem;
    margin: 2rem 0 2rem 0;
  }
  
  .menu-icon {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  
  img {
    max-width: 150px;
  }
  
  a {
    text-decoration: none;
  }