<h1 class="mb-4">Quản lý mua hàng</h1>

<!-- search & add btn -->
<div class="d-flex gap-2 mb-3">
  <form (ngSubmit)="onSearch()" autocomplete="off" style="min-width: 300px">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Nhập tên gói, giá, username, fullname"
        [(ngModel)]="prm.searchTerm"
        name="searchTerm"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </form>
  <nz-range-picker
    [nzShowTime]="true"
    [(ngModel)]="date"
    (ngModelChange)="onChange($event)"
  ></nz-range-picker>
  <button
    (click)="onReset()"
    nz-button
    nzType="primary"
    nzSize="default"
    class="d-flex justify-content-center align-items-center"
  >
    <span nz-icon nzType="retweet" nzTheme="outline"></span>
    Reset
  </button>
</div>

<!-- table transaction -->
<div class="table-responsive-custom">
  <nz-table
    [nzData]="transactions"
    nzTableLayout="auto"
    [nzFrontPagination]="false"
    [nzBordered]="true"
  >
    <thead>
      <tr>
        <th
          style="width: 5%"
          [nzSortFn]="true"
          (nzSortOrderChange)="onSortChange('id')"
        >
          Id
        </th>
        <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name')">
          Tên gói
        </th>
        <th>Người mua</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('price')">
          Giá (VNĐ)
        </th>
        <th
          [nzSortFn]="true"
          (nzSortOrderChange)="onSortChange('startDate')"
          style="width: 15%"
        >
          Thời gian mua
        </th>
        <th
          [nzSortFn]="true"
          (nzSortOrderChange)="onSortChange('endDate')"
          style="width: 15%"
        >
          Thời gian kết thúc gói
        </th>
        <th>Mô tả gói</th>
        <th style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      @for (transaction of transactions; track transaction.id) {
      <tr>
        <td class="text-center">{{ transaction.id }}</td>
        <td>{{ transaction.name }}</td>
        <td>{{ transaction.userName }}</td>
        <td>{{ transaction.price }}</td>
        <td>{{ utilService.getFormattedDate(transaction.startDate) }}</td>
        <td>{{ utilService.getFormattedDate(transaction.endDate) }}</td>
        <td>
          <div class="fixed-height-box">
            {{ transaction.description }}
          </div>
        </td>
        <td>
          <div class="d-flex gap-2 justify-content-center align-items-center">
            <button
              class="btn btn-sm fs-6"
              (click)="openDetail(transaction.id)"
            >
              <i class="bi bi-eye"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>

<!-- pagination -->
<div class="d-flex align-items-center justify-content-center mt-3">
  <nz-pagination
    [nzPageIndex]="pagination.currentPage"
    [nzTotal]="pagination.totalItems"
    [nzSize]="'default'"
    [nzPageSize]="pagination.itemsPerPage"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzShowTotal]="totalTemplate"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
    [nzPageSizeOptions]="[3, 5, 10, 20, 50]"
  ></nz-pagination>
  <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
</div>

<app-transaction-detail></app-transaction-detail>
