<ul
  *ngIf="locations && locations.length > 0"
  class="d-flex gap-3 align-items-center mb-4"
>
  <li (click)="selectLocation('')" [class.active]="selectedLocation === ''">
    Tất cả
  </li>
  @for (item of locations; track item) {
  <li (click)="selectLocation(item)" [class.active]="selectedLocation === item">
    {{ item }}
  </li>
  }
</ul>

<nz-list nzGrid>
  <div nz-row [nzGutter]="16" class="justify-content-center">
    @for (item of singers; track item) {
    <div
      nz-col
      [nzXXl]="5"
      [nzXl]="5"
      [nzLg]="3"
      [nzMd]="3"
      [nzSm]="12"
      [nzXs]="24"
    >
      <nz-list-item (click)="openSingerDetail(item.id || 0)">
        <nz-card nzHoverable style="width: 250px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="{{ item.name }}"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <div class="img-container">
            <img
              class="playlist-img"
              alt="{{ item.name }}"
              src="{{ item.imgUrl }}"
            />
          </div>
        </ng-template>
      </nz-list-item>
    </div>
    }
  </div>
</nz-list>

<!-- pagination -->
<div class="d-flex align-items-center justify-content-center mt-3">
  <nz-pagination
    [nzPageIndex]="pagination.currentPage"
    [nzTotal]="pagination.totalItems"
    [nzSize]="'default'"
    [nzPageSize]="pagination.itemsPerPage"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzShowTotal]="totalTemplate"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
    [nzPageSizeOptions]="[3, 5, 10, 20, 50]"
  ></nz-pagination>
  <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
</div>
